#clockcontainer{
    position:relative;
    background-color: burlywood;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin:auto;
    /* border: 4px solid #0d0d0e; */
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.9%;
    height: 21% ;
    top: 28.4%;
    left: 49.2%;
    opacity: 0.8;
    

}
#minute{
    width: 1.5%;
    height: 29%;
    top: 21.8%;
    left: 49%;
    opacity: 0.8;
    
    

    



}
#second{
    width: 1%;
    height: 31%;
    top: 18.8%;
    left: 49.4%;
    opacity: 0.8;
    
    


}